pip==23.1.2


botocore
aiobotocore
boto3



folium



importlib-metadata
importlib-resources
install


jedi
Jinja2

joblib


lxml

Markdown
markdown-it-py
MarkupSafe

mlxtend

networkx

numpy

ortools
osmnx

pandas
plotly

pyngrok


requests
requests-oauthlib

s3fs
seaborn

shapely

streamlit
streamlit-chat
streamlit-folium

toml